<h4>Flopchooser</h4>

<div style="margin-bottom:2rem" >
  <p>Which movie has a lower IMDB rating?</p>
  <p [hidden]="!hasChosen">
    <span [hidden]="!isCorrect">Correct</span>
    <span [hidden]="isCorrect">Incorrect</span>
  </p>
  <button 
    [hidden]="!hasChosen"
    (click)="onPlayAgainClick()"
    class="btn btn-primary">Play Again
  </button>
</div>
  
 
<div style="display:flex; justify-content:space-around">
  <my-flop-chooser 
  (choose)="onFirstFlopChosen()"
  [movie]="flops.firstFlop"></my-flop-chooser>
  <my-flop-chooser 
  (choose)="onSecondFlopChosen()"
  [movie]="flops.secondFlop"></my-flop-chooser>
</div>
